.navbar-brand img {
    width: 2.5em;
}

.header {
    background-color: #f8f9fa;
}

.navbar {
    width: 80%;
    justify-content: center;
}

.banner {
    background-image: url(https://findesk.ru/upload/iblock/d12/d124a5a738152a963f15d5e5c1305d01.jpg);
}